#posts

- @posts.each_with_index do |post, index|

  - if Post.displayable_photo?(post)

    :javascript

      $("<img/>").attr("src", "#{Post.displayable_photo(post)}").load(function(){
        ratio = this.width / this.height

        window.photos.push({
          src:"#{Post.displayable_photo(post)}",
          ratio:ratio
        });

        $(window).trigger('resize');
      });
